@import "reset.css";
:root {
  --bg-color: #cfcfcf;
  --text-color: #f5f5f5;
  --item-size: 100px;
  --item-pad: 20px;
  --item-text-size: 60px;
  --border-radius: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: system-ui;
  overflow-y: hidden;
}
ol {
  counter-reset: item -1;
  list-style-type: none;
  padding: 0;
}
li {
  display: block;
}
li:before {
  content: counter(item);
  counter-increment: item 1;
}
.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock {
  display: flex;
  height: var(--item-size);
  border: 10px solid transparent;
  border-image: linear-gradient(165deg, #861657 0%, #ff2e1b 120%);
  border-image-slice: 1;
}
.spacer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30px;
  height: 80px;
}
.spacer > .dot {
  width: 10px;
  height: 10px;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  box-shadow: 5px 5px 10px #bababa, -5px -5px 10px #e4e4e4;
}

.row {
  width: auto;
  height: max-content;
  margin: -60px 20px;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  box-shadow: 15px 15px 30px #bababa, -15px -15px 30px #e4e4e4;
  z-index: -1;
  padding: 50px 0;
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1.44);
}
.row > li {
  width: var(--item-size);
  height: var(--item-size);
  padding: var(--item-pad);
  font-size: var(--item-text-size);
  line-height: var(--item-text-size);
  text-align: center;
}
